<br>
<br>
<br>

<h1>Courses that require TA positions</h1>

<button class = "ta" id ="ta"  (click)= "loopthroughobject()">Click here to display courses that require TA positions</button>

<div *ngFor="let need of needsPositions">
    
    <p style="color: red;">{{need}}</p> 


</div>
<style type = 'text/css'>
body{
    padding: 0;
    margin: 0;
    background: indigo;
}
h1{
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    background: indigo;
}
button{
    text-align: center;
}
div{
    text-align: center;
    color: white;
}
.copy{
    text-align: center;
    color: white;
}
</style>
