
<h1>SE 3350</h1>
<h2>Welcome to the TA-Course Matching Portal!</h2>
<nav>
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/RequireTAPositionsComponent">Positions requiring TAs</a></li>
    <li><a routerLink="/questions">Questions and qualifications</a></li>
    <li><a routerLink="/hours">hours</a></li>
    <li><a routerLink="/ta-apply-and-rank">TA Applications Rankings</a></li>
    <li><a routerLink="/ece-ta-selection">ECE Department Member TA Selection</a></li>
    <li><a routerLink="/Info">Check course info and questions</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<p class = 'copy'>&copy; Blue Cheese 2021</p>
<style type = 'text/css'>
body{
  background: indigo;
}
h1{
  color: white;
  text-align: center;
  background: indigo;
}
h2{
  text-align: center;
  color: white;
  background: indigo;
}
nav{
  text-align: center;
  color: white;
}
.copy{
  text-align: center;
  color: white;
  background: indigo;
}

</style>