<div>
  <h1>TA-Course Matching Portal</h1>
  <nav>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/upload">Upload Files</a></li>
      <!-- <li><a routerLink="/RequireTAPositionsComponent">Positions requiring TAs</a></li> -->
      <!-- <li><a routerLink="/questions">Questions and qualifications</a></li> -->
      <li><a routerLink="/Info">Check course info and questions</a></li>
      <li><a routerLink="/view-applicants">View Applicants</a></li>
      <li><a routerLink="/adjusthours">Adjust TA hours</a></li>
      <li><a routerLink="/users">Users</a></li>
      <li *ngIf="!user"><button (click)="login()">Log In</button></li>
      <li *ngIf="user"><button (click)="logout()">Log Out</button></li>
    </ul>
  </nav>
</div>
<div *ngIf="user">
  <h2>Welcome {{user.email}}</h2>
</div>
<div *ngIf="!user && showlogin">
  <h1>Welcome</h1>
  <app-log-in></app-log-in>
</div>
<div style="position: relative; height: 100%; margin: 0 auto; margin-top: 25px; padding: 25px 0 25px 0; width: 75%; margin-bottom: 50px;">
  <router-outlet></router-outlet>
</div>
<div class='copy'>
  <p>&copy; Team 6 - "Blue Cheese" 2021</p>
</div>
<style type='text/css'>
  div {
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }

  nav {
    display: block;
    background-color: gray;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
  }

  nav>ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  nav>ul>li {
    float: left;
  }

  nav>ul>li>a,
  button {
    outline: none;
    border: none;
    background-color: gray;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  nav>ul>li>a:hover,
  button:hover {
    border: none;
    cursor: pointer;
    background-color: blue;
  }

  h1 {
    position: relative;
    margin: 0 auto;
    padding: 25px 0 25px 0;
    color: white;
    text-align: center;
    background: indigo;
  }

  h2 {
    text-align: center;
    color: white;
    background: indigo;
  }

  .copy {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    background: indigo;
  }
</style>