
<h1>Courses</h1>
<div>
  <app-export-course></app-export-course>
</div>
<div>
  <app-adjust-coursehours></app-adjust-coursehours>
</div>
<div>
  <h2>View a course</h2>
<p class ="bold">Select a course:</p>

<select id = "dropdown" (click)="showInformation()">
<option></option>
<option *ngFor="let obj of courses">{{obj.course}}</option>
</select>
</div>
<div>
    <table class = "Searchresults" *ngFor = "let i of infoArray"> 
      <tr> 
        <th>Name</th>
        <th>Code</th>
        <!--<th>Qualifications:</th> -->
        <th>Requires TAs</th>
        <th>TA Hours</th>
        <th>Questions</th>
        <th>Lecture Hours</th>
        <th>Lab/Tut Hours</th>
        <th>Sections</th>
      </tr>
      <tr> 
        <td>{{i.name}}</td>
        <td>{{i.course}}</td>
        <!--<td>{{i.qualifications}}</td> -->
        <td>{{i.requires}}</td>
        <td>{{i.hours}}</td>
        <td>{{i.questions}}</td>
        <td>{{i.lectureHours}}</td>
        <td>{{i.labHours}}</td>
        <td>{{i.sections}}</td>
      </tr>
    </table>
</div>

<div *ngIf="selectedCourse" style="padding-bottom: 25px;">
  <h2 style="margin-top: 25px;">Edit Course: {{selectedCourse.course}}</h2>
  <div>
    <input type="checkbox" [(ngModel)]="selectedCourse.requires" (click)="changeCourse()"><label>Requires TA positions</label>
  </div>
  <div style="margin-bottom: 50px; padding-bottom: 50px;">
    <h3>Add a question</h3>
    <input id="question-input" placeholder="Enter a question" size="50">
    <br><button (click)="submitQuestion()">Submit</button><button (click)="cancel()">Cancel</button>
  </div>
  </div>
<style>
  .Searchresults > tr {
    padding: 5px;
    text-align: center;
    background-color: lightgray;
  }
  .Searchresults > tr > th, .Searchresults > tr > td {
    padding: 4px 8px 4px 8px;
  }
  div {
    margin-top: 25px;
  }
</style>