<app-instructor-component></app-instructor-component>
<title>Create Questions</title>
<h1>TA Questions</h1>
<div>
    <label>Course: </label>
    <input placeholder="Enter a course" id="course-name">
    <div>
        <input placeholder="Enter a question" id="question-1">
    </div>
    <div>
        <input placeholder="Enter a question" id="question-2">
    </div>
    <div>
        <input placeholder="Enter a question" id="question-3">
    </div>
    <div>
        <input placeholder="Enter a question" id="question-4">
    </div>
    <div>
        <input placeholder="Enter a question" id="question-5">
    </div>
</div>
<div>
    <button (click)="sendQuestions()">Save</button>
    <button (click)="clear()">Cancel</button>
</div>