
<div>
  <h1>Adjust TA Hours</h1>
<div *ngIf = "TA.length != 0">
    <input type="text" id="TAname" placeholder ="TA Name"><br>
    <input type="text" id="TAcourse" placeholder ="TA Course"><br>
    <label for="newTAhours">Please input the new hours for the TA:</label><br>
    <input type="text" id="newTAhours" placeholder ="New TA hours"><br>
    <button (click)= "searchTA()">Replace hours</button>
</div>
<div>
    <table *ngIf = "display.length != 0"> 
      <tr> 
        <th>Name:</th>
        <th></th>
        <th>Hours:</th>
        <th></th>
        <th>Course:</th>
      </tr>

      <tr *ngFor = "let i of display"> 
        <td>{{i.name}}</td>
        <td></td>
        <td>{{i.hours}}</td>
        <td></td>
        <td>{{i.course}}</td>
      </tr>
    </table>
</div>
</div>
<style>
  div {
    margin-top: 50px;
  }
</style>
