.outerTable {
    width: 60%;
    border-collapse: collapse;
}

.innerTableDiv{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0;
    /*margin-bottom: 50px;*/

    border-collapse: collapse;
}

.courseLabel{
    border: 1px solid black;
    border-spacing: 0;  
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    color: red;
}

.courseLabel:hover{
    text-decoration: underline;
    cursor: pointer;
}

.subTables{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-collapse: collapse;
}

.tdWithBorder {
    border: 1px solid black;
    border-spacing: 0;  
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.tableNoBorder{
    border: none;
    width: 60%;
    border-collapse: collapse;
}

.leftInnerTableTd {
    border: none;
    width: 40%;
    border-spacing: 0;
    border-collapse: collapse;
}


.rightInnerTableTd{
    border: none;
    width: 60%;
    border-spacing: 0;
    border-collapse: collapse;
}

.table{
    border-collapse: collapse;
}