<p>This is the instructor component</p>

<!--
<mat-table>
    <ng-container  matColumnDef="policyNumber">
        <mat-header-cell *matHeaderCellDef>Policy Number</mat-header-cell>
        <mat-cell *matCellDef="let policy"></mat-cell>
    </ng-container>
</mat-table>
-->

<!-- Table/list of courses that instructor teaches-->
<!--<table>
    <tr>
        <td *ngFor="let header of courseTableHeaders">
            {{ header }}
        </td>
    </tr>
    <ng-container *ngFor="let course of courseData">
        <tr *ngIf="course.instructor == instructor" (click)="courseSelectedFromList">
            <td *ngFor="let property of Object.keys(course)">
                {{ course[property] }}
            </td>
        </tr>
        <ng-container *ngIf="course">

        </ng-container>
    </ng-container>

</table>-->

<button (click)="buttonPressed()">
  Create course qualifications
</button>

<ng-container *ngIf="createQualificationsEnabled">
    <h2>Enter a description of the course qualifications below</h2>
    <textarea id="courseQualificationsTextarea"></textarea>
    <button (click)="courseQualificationsSubmitted()">Submit</button>
    Course name <!-- todo impliment auto select with dropdown-->
    <input type="text" value="se123" id="courseNameInput">
</ng-container>
