<div *ngIf="instructors">
    <h1>Instructors</h1>
    <ul>
        <li *ngFor="let i of instructors">
            {{i.instructor}}: {{i.course}}
        </li>
    </ul>
    <div>
        <h2>Edit Instructors</h2>
        <p>Change the course assigned to each instructor</p>
        <select id="dropdown" (click)="showInstructor()">
            <option>-</option>
            <option *ngFor="let i of instructors">{{i.instructor}}</option>
        </select>
        <div *ngIf="instructor">
            {{instructor.instructor}} <input id="course" [(ngModel)]="instructor.course" placeholder="Assign a course">
            <button (click)="addCourse()">Save</button>
            <button (click)="cancelCourse()">Cancel</button>
        </div>
    </div>
    <div>
        <app-upload-user></app-upload-user>
    </div>
</div>
<div *ngIf="users" class="users">
    <h1>Users</h1>
    <ol>
        <li *ngFor="let u of users">
            <label (click)="expand[users.indexOf(u)] = !expand[users.indexOf(u)]">
                <u style="text-decoration-thickness: 1px;">{{u.email}}</u>
                <span *ngIf="!expand[users.indexOf(u)]">&#x25BC;</span>
                <span *ngIf="expand[users.indexOf(u)]">&#x25B2;</span>
            </label>
            <div *ngIf="expand[users.indexOf(u)]" style="margin-bottom: 5px;">
                <span *ngIf="u.admin" style="color: rgb(0, 64, 255);">Admin</span>
                <span *ngIf="!u.admin" style="color: rgb(255, 102, 0);">User</span>
                <br>
                <span *ngIf="u.verified" style="color: green;">
                    &#10003; Verified
                </span>
                <span *ngIf="!u.verified" style="color: red;">
                    &#10006; Unverified <button (click)="verifyUser(u.email)">Verify</button>
                </span>
            </div>
        </li>
    </ol>
</div>
<div *ngIf="error" style="text-align: center;">
    <h2>Admin access only!</h2>
</div>
<style>
    .users {
        margin: 0 auto;
        width: 100%;
    }

    .users>ol {
        padding: 0;
    }

    .users>ol>li {
        padding: 0;
        list-style: none;
        margin-top: 5px;
    }

    .users>ol>li>label {
        font-style: underline;
        padding: 1px;
        font-size: 16px;
    }

    .users>ol>li>label:hover {
        background-color: lightgray;
        cursor: pointer;
    }

    button {
        background: transparent;
        padding: 2px 5px 1px 5px;
        border-style: solid;
        border-radius: 3px;
        border-width: 1px;
        border-color: black;
        outline: none;
    }

    button:hover {
        height: 100%;
        background-color: gray;
    }
</style>