<div>
    <h1>Welcome!</h1>
    <p>This web app is designed for instructors and department chair to use. 
        It allows for a seamless TA application process that requires no interaction from the applicants.
        The app allows for file uploads that will automatically parse the data and produce a recommended applicant for each course.
    </p>

</div>
<div>
    <h2>Team Members</h2>
    <ul>
        <li>Ethan Miranda</li>
        <li>Marcus Del Vecchio</li>
        <li>Matthew Liu</li>
        <li>Stephen Idugboe</li>
    </ul>
</div>
<style>
    div {
        margin: 0 auto;
        width: 55%;
    }
    h1 {
        text-align: center;
    }
    p {
        width: 100%;
    }
</style>