
<h2 style="color: indigo; font-weight: 800;">Rank Applicants</h2>
<label>Course: </label>
<select id = "dropdown-course">
<option></option>
<option *ngFor="let obj of courseData">{{obj.course}}</option>
</select>
<div>
    1. 
    <select id = "dropdown1" (click)="updateApps()">
    <option></option>
    <option *ngFor="let obj of applicants">{{obj.name}}</option>
    </select>
</div>
<div>
    2. 
    <select id = "dropdown2" (click)="updateApps()">
    <option></option>
    <option *ngFor="let obj of applicants">{{obj.name}}</option>
    </select>
</div>
<div>
    3. 
    <select id = "dropdown3" (click)="updateApps()">
    <option></option>
    <option *ngFor="let obj of applicants">{{obj.name}}</option>
    </select>
</div>
<div *ngIf="error">
    <p style="color: red;">Duplicate Applicants!</p>
</div>
<button (click)="submitRankings()">Submit Rankings</button>